// ================================================================
//-----------------------Contact page styles-----------------------
//----Contact page and about page all the elements are the same ---
//------That's why combined the contact and about styles-----------
// ================================================================
