// =========================================
// ======== Header page styles =============
// =========================================

//------Used for about, portfolio and contact pages------
.inner-header {
    .App-header {
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      &.bg-white {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
  //------ App header styles ------
  .App-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    @include respond-to("small") {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    &.bg-black {
      background: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    &.bg-white {
      //background-color: #f1f1f1;
      //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      @include respond-to("small") {
        background: #ffffff;
      }
    }
    header {
      display: flex;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      padding: 25px 0;
      @include respond-to("small") {
        display: block;
        padding: 25px 0 10px;
      }
      .logo {
        img {
          width: 150px;
          margin-top: 10px;
        }
      }
      nav {
        width: 28%;
        // margin: 0 auto;
        // display: flex;
        margin: 0 auto;
        // justify-content: space-between;
        // width: 60%;
      
        @include respond-to("medium") {
          width: 48%;
        }
        @include respond-to("small") {
          width: 95%;
          margin-top: 10px;
        }
        .nav-list {
          position: relative;
          width: 100%;
  
          ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
            .list {
              // margin-right: 30px;
              a {
                color: #484848;
                text-decoration: none;
                &:hover::after {
                  color: black;
                  font-weight: 600px;
                }
  
                &:active {
                  color: black;
                  font-weight: 600px;
                  // border-bottom:  solid 2px #8eae3f
                }
              }
  
              position: relative;
              .hover_container {
                position: absolute;
                &.about {
                  display: flex;
                  flex-direction: column;
                  left: -40px;
                  top: 60px;
                  @include respond-to("small") {
                    display: none;
                  }
                }
                &.portfolio {
                  display: flex;
                  flex-direction: column;
                  left: -120px;
                  top: 60px;
                  @include respond-to("small") {
                    display: none;
                  }
                }
                &.contact {
                  display: flex;
                  flex-direction: column;
                  left: -40px;
                  top: 60px;
                  @include respond-to("small") {
                    display: none;
                  }
                }
                .arrow-up {
                  visibility: hidden;
                  width: 0;
                  height: 0;
                  position: relative;
                  border-left: 12px solid transparent;
                  border-right: 12px solid transparent;
                  border-bottom: 25px solid #ffffff;
                  position: relative;
                  z-index: 9999;
                  //display: flex;
                  .show {
                    display: block;
                  }
                  &.portfolio {
                    margin: auto 137px;
                  }
                  &.contact {
                    //margin: auto 100px;
                    margin-left: 65px;
                  }
                  &.about {
                    margin: auto 55px;
                  }
                }
                .content {
                  //position: absolute;
                  // width: 300px;
                  // height: 100px;
                  background: #ffffff;
                  // left: 31%;
                  // top: 92%;
                  border-radius: 3px;
                  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  
                  //border-bottom: 5px solid gray;
                  position: relative;
                  z-index: 999;
                  .details-waper {
                    display: flex;
                    align-items: center;
                    //width: 200px;
                    //justify-content: center;
                    //margin: auto 10px;
                    .content-details {
                      padding: 10px 15px;
                      margin: 15px 0;
                      justify-content: center;
                      width: 150px;
                      border-right: 2px solid #dfdfdf;
                      &:last-child {
                        border-right: none;
                      }
                      .img-box {
                        min-height: 140px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                          width: 80%;
                        }
                      }
                      // img {
                      //   width: 100%;
                      //   height: 90px;
                      //   object-fit: cover;
                      // }
                      h2 {
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.3;
                        text-align: left;
                        color: #000000;
                      }
                      p {
                        margin-top: 10px;
                        opacity: 0.6;
                        font-family: Poppins;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1.5;
                        text-align: left;
                        color: #000000;
                      }
                    }
                    span {
                      width: 0;
                      height: 225px;
                      border: solid 1px #bfbfbf;
                      margin: 15px auto;
                    }
                  }
                }
                &.portfolio {
                  .content-details {
                    h2 {
                      min-height: 40px;
                    }
                  }
                }
                &.contact {
                  margin: 0px;
                  .content-details {
                    // padding: 7%;
                    // margin: 2px;
                    // justify-content: center;
                    // width: 180px;
                  }
                }
                &.about {
                  .content-details {
                    // padding: 4%;
                    // margin: 2px;
                    // justify-content: center;
                    // width: 180px;
                  }
                }
              }
              //--------------------Used for mouse hover tab animation--------------------
              &.show {
                .hover_container {
                  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
                  -moz-animation: fadein 0.5s; /* Firefox < 16 */
                  -ms-animation: fadein 0.5s; /* Internet Explorer */
                  -o-animation: fadein 0.5s; /* Opera < 12.1 */
                  animation: fadein 0.5s;
                }
                @keyframes fadein {
                  from {
                    opacity: 0;
                    top: 0;
                  }
                  to {
                    opacity: 1;
                    top: 60px;
                  }
                }
              }
            }
          }
          .menu-active-dot {
            position: absolute;
            bottom: -44px;
            left: 0;
            z-index: 99;
            width: 100%;
            height: 20px;
            @include respond-to("small") {
              bottom: -22px;
            }
            .dot {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: $primary-color;
              display: block;
            }
          }
        }
      }
    }
  }
  